@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
  width: 100%;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.3s ease-in-out;
}

body.js-disabled {
  pointer-events: none;
  user-select: none;
  opacity: 0.5; 
}

.text {
  font-size: 28px;
  margin: 10px;
}

button {
  margin: 10px;
  height: 70px;
  width: 90px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

#yesButton {
  background: #6fc276;
}

#noButton {
  background: #ff6961;
  transition:
    top 0.3s ease-in-out,
    right 0.3s ease-in-out;
}

#yesButton:hover,
#noButton:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}

.valentine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

img {
  width: 300px;
  height: 250px;
}
